.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 0.25;
    background-color: #2f3135;
}

.sidebar__top {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    background-color: #2f3135;
    padding: 20px;
    border-bottom: 3px solid #26282c;
}

.sidebar__channels {
    flex: 1;
}

.sidebar__channelsHeader {
    display: flex;
    color: gray;
    padding: 10px;
    align-items: center;
    background-color: #2f3135;
    justify-content: space-between;
}

.sidebar__header{
    display: flex;
    align-items: center;
}

.sidebar__addChannel {
    cursor: pointer;
    color: gray;
}

.sidebar__addChannel:hover {
    color: white;
}

.sidebar__voice, .sidebar__profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f3135;
    color: gray;
    padding: 10px;
    border-top: 1px solid gray;
}

.sidebar__voiceInfo{
    flex: 1;
    padding: 10px;
}

.sidebar__voiceIcon{
    color: #4fb185;
}

.sidebar__voiceInfo > h3{
    margin: 0;
    color: #4fb185;
}

.sidebar__voiceInfo > p{
    font-size: smaller;
}

.sidebar__voiceIcons > .MuiSvgIcon-root{
    padding: 10px;
}

.sidebar__profileInfo{
    flex: 1;
    padding: 10px;
}

.sidebar__profileInfo > h3{
    margin: 0;
    color: #fff;
}
.sidebar__profileIcons > .MuiSvgIcon-root{
    padding: 10px;
}